<h1><%= @team.name %></h1>
<h2><%= @team.motto %></h2>

<% hero = @heroes[1] %>
<h2>Hero Name: <%= hero.name %></h2>
<p>
  Hero Power: <%= hero.power %>
  Hero Biography: <%= hero.biography %>
</p>
<% #end %>